/* Default styles for small screens & anything not caught by @media */
body {
	background-color: rgb(145, 214, 203);
}

h3 {
	display:block;
}

.nestedContent {
	background-color: red;
}

.column {
	width: 100%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}



/* Styles for screens 600px wide and larger */
@media screen and (min-width: 600px) {
	body {
		background-color: palegreen;
	}

	h3 {
		display: none;
	}

	/* Create three equal columns that float next to each other */
	.column {
		float: left;
		width: 33.33%;
	}

}