@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Symbols+2&display=swap');

@font-face {
	font-family: 'Whatever We Want';
	src: url("/Roboto/Roboto-Regular.ttf") format('truetype');
}

/* Default styles for small screens & anything not caught by @media */
body {
	background-color: rgb(145, 214, 203);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Whatever We Want";
}




h3 {
	display:block;
}

.nestedContent {
	background-color: red;
}

.column {
	width: 100%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}



/* Styles for screens 600px wide and larger */
@media screen and (min-width: 600px) {
	body {
		background-color: palegreen;
	}

	h3 {
		display: none;
	}

	/* Create three equal columns that float next to each other */
	.column {
		float: left;
		width: 33.33%;
	}

}