@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Symbols+2&display=swap');

@font-face {
	font-family: 'Whatever We Want';
	src: url("/Roboto/Roboto-Regular.ttf") format('truetype');
}

/* Default styles for small screens & anything not caught by @media */
body {
	background-color: rgb(145, 214, 203);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Whatever We Want";
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* align-items: center; */
}

.nestedRow {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}





h3 {
	display:block;
}

.nestedContent {
	background-color: red;
}


.column {
	width: 500px;
}

.row {
	display: flex;
	flex-direction: column;
}


/* Clear floats after the columns */
/* 
.row:after {
	content: "";
	display: table;
	clear: both;
}  */




/* Styles for screens 600px wide and larger */
@media screen and (min-width: 600px) {
	body {
		background-color: palegreen;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	/* h3 {
		display: none;
	} */

	/* Create three equal columns that float next to each other */
	/* .column {
		float: left;
		width: 33.33%;
	} */

}